.container-fluid{
  width: 100%;
}
#main{
  background-image: url('../images/pic1.jpeg');
  background-color: #cccccc;
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
#head{
  text-align: center;
  background-color: #F9E79F;
  color: black;
  padding: 1px;
  opacity: 0.9;
}
#head h4{
  font-size: 35px;
  font-family:serif;
}
.navbar{
  margin-top: 5%;
}
.navbar-brand{
  color: black;
  font-size: 25px;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
nav li a{
  color: black;
  font-size: 20px;
  font
}
nav li a:hover{
  background-color: #F9E79F;
}
.fa{
  font-size: 36px;
}
#image1{
  width: 100%;
  height: 100%;
}
.text{
text-align: center;
}
.text h3{
  font-family: sans-serif;
  color: #800000;
  font-weight: bolder;
  font-size: 29px;
}
.text p{
  font-size: 15px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-yellow {
    background-color: white;
    color: black;
    border: 2px solid  #800000;
}

.btn-yellow:hover {
    background-color:#800000;
    color: black;
}

.btn-pink {
    background-color: white;
    color: black;
    border: 2px solid  #FFB6C1	;
}

.btn-pink:hover {
    background-color:#FFB6C1;
    color: black;
}
.section3{
  background-image: url('../images/pic2.jpeg');
  background-color: #cccccc;
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#section3{
  text-align: center;
  color: white;

}
#section3 h5{
  font-size: 35px;
  padding: 5%;
  font-size: 38px;
  font-weight: bold;
}
#section3 h2{
  font-size: 50px;
  word-spacing: 10px;
  letter-spacing: 12px;
  font-weight: bolder
}
.btn-menu {
    background-color: white;
    color: black;
    border: 2px solid  #CD853F;
}

.btn-menu:hover {
    background-color:#CD853F;
    color: black;
}
.img-fluid{
  width: 107%;
  height: 100%;
}
.section4{
  padding: 20px;

}
.list{
  list-style: disc;
  line-height: 30.5px;
}

#events {
  background-image: url('../images/pic2.jpeg');
  background-color: #cccccc;
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  padding: 10%;
  color: white;


}

#events h2{
  font-size: 50px;
  word-spacing: 10px;
  letter-spacing: 12px;
  font-weight: bolder
}
.btn-events{
  background-color: white;
  color: black;
  border: 2px solid  #CD853F;
}
.btn-events:hover {
  background-color:#CD853F;
  color: black;
}
#events p{
  color: #00ced1;
  font-size: 28px;
}
.thumbnail {
  padding: 1%;
}
#footer{
  background-color: #F9E79F;
  padding: 3%;
  font-family: serif;
}
footer h3{
  color: #800000;
  font-weight: bold;
}
footer p{
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.btn-submit{
  background-color: white;
  color: black;
  border: 2px solid 	#800000;
}
.btn-submit:hover {
    background-color:#800000;
    color: black;
}
.copy{
  color: #800000;
  font-size: 20px;
  font-weight: bold;
}
.footer-icon a i{
  color: #800000;
  padding: 3px;
}
