body{
  margin: 0;
  background-color: #f9f9f9;
  position: relative;
}
.well{
  background-color: rgba(233,234,237, 0.4);
  font-size: 15px;
  font-family: sans-serif;
}
nav li a {
  color: black;
  font-size: 20px;
}
.nav, .navbar, .dropdown, .dropdown-menu{
  background-color: rgba(233,234,237);
  color: black;
  font-size: 15px;
}
.modal-content{
  background-color: rgba(233,234,237);
  color: black;
  font-size: 15px;
}
.container-fluid {
  background-image: url("../img/3.jpg");
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 180px;
  color: #A2ACB4;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.container{
  font-size: 20px;
}
#head{
  font-size: 80px;
  font-weight: 900;
  text-align: center;
}
.affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

.affix + .container-fluid {
      padding-top: 70px;
  }
  .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
  }

  .btn-yellow {
      background-color: white;
      color: black;
      border: 2px solid  #F9E79F;
  }

  .btn-yellow:hover {
      background-color:#F9E79F;
      color: black;
  }

  .btn-pink {
      background-color: white;
      color: black;
      border: 2px solid  #FFB6C1	;
  }

  .btn-pink:hover {
      background-color:#FFB6C1;
      color: black;
  }
  .gallery{
    text-align: center;
    font-weight: bold;
  }
  .gallery h3 {
    font-weight: bolder;
  }
  #footer{
    background-color: #dbe4ed;
    background-size: cover;
  }
  footer h3{
    font-weight: bold;
  }
  footer p{
    color: black;
    font-size: 15px;
    font-weight: 400;
  }
  .footer-icon a i{
    padding: 3px;
  }
