body{
  margin: 0;
  background-color: #caccd4;
  position: relative;
}
.well{
  background-color: rgba(233,234,237, 0.4);
  font-size: 15px;
  font-family: sans-serif;
}
.nav, .navbar, .dropdown, .dropdown-menu{
  background-color: rgba(233,234,237);
  color: black;
  font-size: 15px;
}
.modal-content{
  background-color: rgba(233,234,237);
  color: black;
  font-size: 15px;
}
.container-fluid {
  background-image: url("../img/3.jpg");
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 180px;
  color: #A2ACB4;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.container{
  font-size: 20px;
}
#head{
  font-size: 80px;
  font-weight: 900;
  text-align: center;
}
.affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

.affix + .container-fluid {
      padding-top: 70px;
  }
.col-sm-9 {
  padding: 16px;
  font-size: 20px
}
